@import '../../stylesheets/constants';

.content{
	background-size: cover;
	height:100%;

	text-align : center;
}

.welcome {
	overflow: hidden;
	padding-top: 15px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	margin-left: -224px;
  	margin-top: -48px;
  	color : #fff;
    transition: color 2s;
	
	
	.btn-primary{
		font-size : 25px;
	}
}

.welcome:hover{
	color : $mainYellow;
	cursor: pointer;
}

.slideUp, .slideUp .welcome, .slideUp .copyright{
  	height: 0;
  	padding: 0; 
  	transition: height 0.5s linear, padding 0.1s linear;
}