.content{
	background-image : url(../../images/bgd.jpeg);
	background-size: cover;
	height:100%;

	text-align : center;
}

.welcome {
	overflow: hidden;
	padding-top: 15px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	margin-left: -224px;
  	margin-top: -48px;
  	color : #fff;
  	-webkit-transition: color 2s; /* For Safari 3.1 to 6.0 */
    transition: color 2s;
}

.welcome:hover{
	color : #d1b816;
	cursor: pointer;
}

button.btn-primary{
	font-size : 25px !important;
	background-color: #99d5cb;
	border-color :#d1b816;
}

button.btn-primary:hover{
	background-color: #d1b816;
	border-color :#99d5cb;
}

.slideUp, .slideUp .welcome, .slideUp .copyright{
  	height: 0;
  	padding: 0; 
  	transition: height 0.5s linear, padding 0.1s linear;
}