<section class="content" ng-class="{slideUp:ctrl.boolSlideUp}">

	<div class="welcome">
		<h1>SHRTLS <span>TD</span>, {{mainCtrl.labels.prehome.welcome}}</h1><br>
		<button class="btn btn-primary" type="button" ng-click="ctrl.goHome();">{{mainCtrl.labels.prehome.go}}</button>
	</div>
	
	<p class="copyright col-lg-4 col-lg-offset-4 col-md-8 col-md-offset-3 col-sm-9 col-sm-offset-2"><span>&copy; 2015 ShortListed</span>. {{mainCtrl.labels.footer.rights}}. {{mainCtrl.labels.footer.made}} <a href="#">DigitalF</a></p>
</section>