header, .identification, .navigation, #secHeader{
	position: fixed;
	width: 100%;
	z-index: 10;
}
.identication, .navigation{
	height: 45px;
}
header, #secHeader{
	height: 139px;
	top: 45px;
}
#secHeader header{
	top: 0;
}
#secHeader .secNav{
	height: 125px;
}

.navigation{
	top:184px;
}


/*
	PROFIL BANNER
					*/
.identification{
	font-size: 25px;
	overflow: hidden;
	padding: 5px 0;
	top:0;

	background-color: #fff;
}
.identification nav{
	text-align: center;
}
.identification nav.socialNetwork a:hover{
	color : #d1b816;
}
.identification nav.socialNetwork .twitter{
	color : #55acee;
}
.identification nav.socialNetwork .linkedin{
	color:#0177B5;
}
.identification nav.socialNetwork .facebook{
	color:#3A5795;
}
.identification nav a{
	margin-right:20px;
	color : #322f3a;
}
.identification a:visited {
	color : #322f3a;
}
.identification a:hover{
	text-decoration: none;
	color: #99d5cb;
}
.identification a:hover i{
	color :#d1b816;
}

/*
	HEADER AVEC LOGO 
						*/
header{
	text-align:center;
	background-color: #322f3a;
	color:#fff;
	padding: 25px 0 15px;
}

/*
	NAVIGATION 
				*/
section.navigation, #secHeader section.secNav{
	overflow: hidden;
	text-align: center;
  	font-size: 30px;
  	background-color:#322f3a;
  	color :#fff;
}
section.navigation a, #secHeader section.secNav a{
	color : #fff;
	text-transform: uppercase;
}
section.navigation a:hover, #secHeader section.secNav a:hover{
	text-decoration: none;
}
section.navigation a.here, section.navigation a:hover, #secHeader section.secNav a.here, #secHeader section.secNav a:hover{
	background-color: #99d5cb;
	border-bottom : solid 3px #d1b816;
}/*#B88491*/


.primaryContent{
	position:relative;
	top:229px;
}

/*
	MOZAIC
			*/
.liste{
	width: 100%;
	overflow: hidden;
}
.liste div{
	padding: 0;
}
.compete:hover .information{
	display:block;
	cursor: pointer;
}
.liste .information{
	width:100%;
	height:100%;
	display:none;
	position : absolute;
	top:0;
	left:0;
	background : rgba(0,0,0,0.5);
	color : #fff;
	text-align : center;

	padding: 60px 15px 0;
}
.information h3{
	text-transform: uppercase;
	color: #d1b816;
}
.information h3, .information h4{
	font-weight: bold;
}
.information h4{
	font-variant: small-caps;
}
.shortDesc{
	margin-top : 30px;
}
.more{
	font-size: 55px;
	margin-top : 50px;
}

/*
	COMMENT CA MARCHE 
						*/
.cmtCaMarche{
	padding : 25px;
}
.howWorks{
	overflow: hidden;
}
.howWorks h3{
	text-align: center;
}
.howWorks i{
	color : #d1b816;
}
.howWorks div:hover h3{
	color : #99d5cb;
}

.howWorks p{
	padding : 15px 0;
}

.howWorks iframe{
	width: 100%;
}


/*
	MOZAIC VIDEOS
					*/
.liste.videos .information{
	display: block;
}
/*.liste.videos .information p.view{
	display :none;
}*/
p.view{
	font-size: 55px;
	margin : 130px 0 45px;
}

.liste.videos .information:hover p.view{
	-webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@keyframes spin { 100% { transform:rotate(360deg); } }


/*
	GESTION DE L'ANIMATION DU HEADER LORS DU SCROLL
													*/
#secHeader{
    overflow: hidden;
    height: 125px;
   visibility: hidden;
}

.min #secHeader{
	visibility: visible;
  	opacity: 1;
  	transition: opacity 2s linear;
}

.min header h1{
	font-size: 70px;
	-webkit-animation:example 1s linear;
    -moz-animation:example 1s linear;
    animation:example 1s linear;
}
@keyframes example {
    0%   {font-size: 90px;}
    25%  {font-size: 85px;}
    50%  {font-size: 80px;}
    75%  {font-size: 75px;}
    100% {font-size: 70px;}
}

.secNav .nav{
	padding-top: 45px;
}

.primHeader{
	visibility: visible;
  	opacity: 1;
  	transition: opacity 2s linear;
}

.min .primHeader{
	visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s 0.3s, opacity 0.3s linear;
}