<section class="mainContent">
    <section class="identification">
        <nav class="socialNetwork col-lg-6">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        </nav>
    	<nav class="connexion col-lg-6">
    		<a href="#"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> {{ctrl.identification.connection}}</a>
    		<a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ctrl.identification.creation}}</a>
    	</nav>
    </section>

    <header>
    	<h1>SHRTLS <span>TD</span></h1>
    </header>

    <nav class="navigation">
    	<a href="#" class="here">Home</a>
    	<a href="#">Les Compèt'</a>
    	<a href="#">La communauté</a>
    	<a href="#">Les vidéos</a>
    	<a href="#">Qui sommes-nous ?</a>
    </nav>

    <section>
    	<!-- <h2>Derniers compèt'</h2> -->
    	<div class="liste">
    		<div class="compete col-sm-12 col-xs-12" ng-class="ctrl.getMosaic($index);" ng-repeat="lc in ctrl.lastcompets">
                <img ng-src="../../images/{{lc.img}}" alt="{{lc.user.entreprise}}" height="598" />
                
                <div class="information">
                    <h3>{{lc.user.entreprise}}</h3>
                    <h4>{{lc.nom}}</h4>
                    <p><span class="glyphicon glyphicon-send" aria-hidden="true"></span> {{lc.dateFin}}</p>
                    <p class="shortDesc">{{lc.description}}[...]</p>

                    <p class="more"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></p>
                </div>
            </div>
    	</div>
    </section>
    <hr>
    <section class="cmtCaMarche">
        <h2>Comment ça marche ?</h2><br>
        <div class="howWorks">
            <p class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <p class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <p class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </section>
    <hr>
    <section>
    	<h2>Dernières vidéos</h2>
        <div class="liste videos">
            <div class="compete col-sm-12 col-xs-12" ng-class="ctrl.getMosaic($index);" ng-repeat="lc in ctrl.lastcompets">
                <img ng-src="../../images/{{lc.img}}" alt="{{lc.user.entreprise}}" height="598" />
                
                <div class="information">
                    <p class="view"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></p>
                    <p>Déposé le : {{lc.dateDepot}}</p>
                </div>
            </div>
        </div>
    </section>

</section>