<section class="container">
    <section class="identification">
    	<nav>
    		<a href="#">{{ctrl.identification.connection}}</a> |
    		<a href="#">{{ctrl.identification.creation}}</a>
    	</nav>
    </section>

    <header>
    	<h1>SHRTLSTD</h1>
    </header>

    <nav>
    	<a href="#">Home</a>
    	<a href="#">Les Compet'</a>
    	<a href="#">La communauté</a>
    	<a href="#">Les vidéos</a>
    	<a href="#">Qui sommes-nous ?</a>
    </nav>

    <section>
    	<h2>Derniers compèt'</h2>
    </section>
    <hr>
    <section>
    	<h2>Dernières vidéos</h2>
    </section>

</section>