*{
  margin: 0;
  padding: 0;
}

@font-face{
	font-family: importantFontFace;
    src: url(../../fonts/Amatic-Bold.ttf);
}

html, body, .my-view{
  width: 100%;
  height: 100%;
  color : #322f3a;
}

h1, p, div, li, ul, ol, span, a, img, h1, h2, h3, h4 {
	padding : 0;
	margin:0;
}

nav, h1, h2, h3, h4, .copyright, button, .nav, .copy{
	font-family : importantFontFace, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
	font-size : 90px;
}

h2{
	font-size : 60px;
}

h3{
	font-size : 50px;
}

h4{
	font-size : 40px;
}

h1 span{
	border: solid 3px #d1b816;
	padding: 10px;
	color : #99d5cb;
}

.copyright {
	position: absolute;
	bottom : 5px;
	font-size : 20px;
}

.copyright span, .copy span {
	color : #d1b816;
}

.copy{
	font-size : 20px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content{
	width: 700px!important;
}

// ATOMIC - CSS

// DISPLAY
.iBlock{display: inline-block;}

// MARGIN
.mt1{margin-top: 1em;}

// TEXT
.txt-justify{text-align: justify;}
.underline{text-decoration: underline;}

// WIDTH
.wFull{width: 100%;}
