<section class="mainContent iBlock wFull connexion" ng-controller="connexionCtrl as ctrl">

	<h4>{{ctrl.labels.connexion.title}}</h4>
	<section class="mt1 ftAmatic tt2">

		<form name="connexionForm" ng-submit="ctrl.connect(connexionForm.$valid);" class="col-lg-6 connexion-form" novalidate>
			<p class="bbtm">{{ctrl.labels.connexion.withShrtlstd}}</p>
			<div class="row">
				<label class="col-lg-4 mt0_5">{{ctrl.labels.connexion.login}} :</label>
				<div class="col-lg-8 ftNormal tt1-5">
					<input type="email" class="form-control" name="login" type="text" ng-model="ctrl.credentials.login" required/>
					<div ng-show="connexionForm.$submitted" ng-messages="connexionForm.login.$error" class="errors" role="alert">
						<div ng-message="required">{{ctrl.labels.forms.errors.required}}</div>
						<div ng-message="email">{{ctrl.labels.forms.errors.email}}</div>
					</div>
				</div>

			</div>
			<div class="row">
				<label class="col-lg-4 mt0-5">{{ctrl.labels.connexion.password}} :</label>
				<div class="col-lg-8 ftNormal tt1-5">
				<input class="form-control" name="password" type="password" ng-model="ctrl.credentials.pwd" required/>
				<div ng-show="connexionForm.$submitted" ng-messages="connexionForm.password.$error" class="errors" role="alert">
					<div ng-message="required">{{ctrl.labels.forms.errors.required}}</div>
				</div>
				</div>
			</div>
			<section class="col-lg-offset-4 col-lg-8 ftNormal tt1-2 txt-center">
				<a href="#">{{ctrl.labels.connexion.forgottenPwd}}</a>

				<p>
					<input type="checkbox" />
					<label>{{ctrl.labels.connexion.rememberMe}}</label>
				</p>

				<input type="submit" class="btn btn-primary mb1 tt1-5 ftAmatic" value="{{ctrl.labels.connexion.connect}}" />

				<p class="mb0">{{ctrl.labels.connexion.notMember}}
					<a href="#" pop-up tpl="components/signUp/signUpPop">{{ctrl.labels.connexion.signUp}}</a>
				</p>
				
			</section>
		</form>

		<span class="col-lg-1">{{ctrl.labels.connexion.or}}</span>

		<section class="col-lg-5">
			<p class="bbtm">{{ctrl.labels.connexion.withAccount}}</p>
		</section>

	</section>

</section>