<section class="mainContent iBlock wFull connexion" ng-controller="connexionCtrl as ctrl">
	
	<h4>{{ctrl.labels.connexion.title}}</h4>
	<section class="mt1 ftAmatic tt2">
		
		<section class="col-lg-6 connexion-form">
			<p class="bbtm">{{ctrl.labels.connexion.withShrtlstd}}</p>
			<p class="row">
				<label class="col-lg-4">{{ctrl.labels.connexion.login}} :</label>
				<input class="col-lg-7 ftNormal tt1-5" type="text" ng-model="ctrl.credentials.login"/>
			</p>
			<p class="row">
				<label class="col-lg-4">{{ctrl.labels.connexion.password}} :</label>
				<input class="col-lg-7" type="password" ng-model="ctrl.credentials.pwd"/>
			</p>
			<section class="col-lg-offset-3 col-lg-7 ftNormal tt1-5">
				<a href="#">{{ctrl.labels.connexion.forgottenPwd}}</a>
				
				<p>
					<input type="checkbox"/>
					<label>{{ctrl.labels.connexion.rememberMe}}</label>
				</p>
				
				<input type="button" class="" value="{{ctrl.labels.connexion.connect}}"/>
			</section>
		</section>
		
		<span class="col-lg-1">{{ctrl.labels.connexion.or}}</span>
		
		<section class="col-lg-5">
			<p class="bbtm">{{ctrl.labels.connexion.withAccount}}</p>
		</section>
		
	</section>
	<!--<label></label><input ng-model="ctrl.credentials.login"/>
	<label></label><input type="password" ng-model="ctrl.credentials.pwd"/>
	<a href="#" pop-up tpl="components/connexion/connexionPop">toto</a>-->
</section>