@import '../../stylesheets/constants';

.connexion{
	
	.mb0{margin-bottom: 0;}
	
	p, div.row{
		margin-bottom: 1rem; 
	}
	
	.connexion-form{
		.btn-primary{
			font-size: 2rem;
			letter-spacing: 0.3rem;
		}
		
		a{
			color: $mainBlue;
		}
	}
}